html {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: larger;

}
#functions {
    display: none;
}
.footer {
    position: absolute;
    bottom: 0;
}
p {
    font-size: larger;
}