body {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: larger;
    overflow-y: scroll;

}
#functions {
    display: none;
}
.footer {
    position: absolute;
    bottom: 0;

}
#test {
    float: right;
}
.footer > p {
    font-size: smaller;
    line-height: 0.8em;
}

p {
    font-size: larger;
}